

ion-content.background{
    /* --background: url('../../assets/back.jpg')  0 0/100% 100% no-repeat; */
    /* --background: #bd3366; */
     background-size: cover; 
 } 
   
 .foo{
         padding: 0px;
         border: 0px;
         margin: 0px;
     } 
 
 .l{
     padding: 7px;
 }
 
 .foo5{
     padding: 0px 5px 0px;
     border: 0px;
     margin: 0px;
 } 
 
 .right{
     position: absolute; right: 20px;
 }